apiVersion: v1
kind: Service
metadata:
  namespace: workshop
  name: workshop-api
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      name: http
  selector:
    app: workshop-api
